---
import Header from "../components/Header.astro"
import Menu from "../components/Menu.svelte"
import Metas from "../components/Metas.astro"
import { MetasProps } from "../types/metasProps"
interface Props {
  metas: MetasProps
}

const { metas } = Astro.props as Props
---

<!DOCTYPE html>
<html lang="en">
  <Metas {...metas} />
  <body>
    <Header />
    <Menu client:idle />
    <slot />
    <style>
      .container {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .footer {
        border-top: 1px solid
          hsl(
            var(--color-red-hue),
            var(--color-red-sat),
            var(--color-red-light),
            0.5
          );
        text-align: center;
        padding: 10px;
      }

      @media screen and (max-width: 600px) {
        .header {
          padding: 10px 10px 0;
          font-size: 0.8em;
          text-align: center;
        }

        .container {
          grid-template-rows: auto 1fr;
        }

        .doom {
          max-width: 120px;
        }

        .noScreen {
          font-size: 1.5em;
        }
      }
    </style>
  </body>
</html>
